#button {
    position: absolute;
    bottom: 20%;
    left: 5%;
    height: 10%;
    width: 20%;
}

#orderTextMobile {
    display: none;
}

button {
    width: 100%;
    height: 100%;
    font-size: 120%;
    font-weight: 100;
    border-radius: 10px;
    background: black;
    color: white;
}

@media (max-width: 600px){
    #button {
        width: 80%;
        left: 10%;
    }

    .orderButton {
        background: #317255;
    }

    #orderTextDesktop {
        display: none;
    }

    #orderTextMobile {
        display: block;
    }
}
