#navbar {
    border: solid 1px red;
    width: 100%;
    padding: 25px 0;
    background: #0E141D;
    position: relative;
}

#logo {
    position: absolute;
    top : 0%;
    left : 2%;
    width: 10% ;
    max-width: 150px;
    min-width: 100px;
}