#header {
    display: flex;
    flex-direction: row;
    /* border: solid 1px red; */
    height: 5%;
    text-align: center;

}

#headerWrap {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
}
#offerCode{
    /* border: solid 1px blue; */
    width: 80%;
}

#storeLocator{
    background: #057453;
    /* border: solid 1px blue; */
    width: 20%;
}


@media (max-width: 600px) {
    #header {
        display: none;
    }
}
