#header {
    display: flex;
    flex-direction: row;
    /* border: solid 1px red; */
    height: 5%;
    text-align: center;
    position: fixed;
}

#offerCode{
    /* border: solid 1px blue; */
    width: 80%;
}

#storeLocator{
    background: #057453;
    /* border: solid 1px blue; */
    width: 20%;
}

