#container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px red; */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

#icedCoffee {
    /* border : solid 1px blue; */
    width: 30%;
}



